body {
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.eir-box1 {
    background: #f4f4f4;
    padding: 5px;
    border: 1px solid #efefef;
}
.eir-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    border: 1px solid #efefef;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    min-height: 100px;
    resize: none;
    border-bottom: 0px;
}
.eir-noradius {
    border-radius: 0px;
}
a {
    cursor: pointer;
    text-decoration: none;
}
.eir-label {
    font-weight: normal;
    line-height: 2em;
}
.eir-tag {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 6px;
}
.icon-grey {
    color: #8e8e8e;
}
.eir-clear-both {
    clear: both ;
}
.eir-line-hor {
    border-bottom: 1px solid #000000;
    margin-top: 10px;
}
.eir-line-ver {
    height: 50px;
    border-left: 1px solid #000000;
    margin: 0px;
    padding: 0px;
}
.eir-home-header {
    height: 150px;
    background: url("../images/pic2.jpg") center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.eir-home-header nav {
    margin-bottom: 0px;
    height: 36px;
    border: 0px;
    opacity: 1;
}
.eir-home-header .navbar {
    min-height: 30px;
}
.eir-home-header .eir-nav {
    position: absolute;
    top: 0px;
    right: 0px;
}
.eir-home-header .eir-nav-collapsed {
    margin-top: 0px;
    margin-bottom: 0px;
}
.eir-home-header .eir-nav-collapsed:hover {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #000011;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.eir-home-header .eir-nav-collapsed:focus {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #000011;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
.eir-brand {
    width: 70%;
    margin: auto;
    color: white;
    padding: 30px 40px;
    font-family: museo-slab, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: right;
}
.eir-tags-pop {
    z-index: 20;
    position: absolute;
    width: 100%;
    top: 34px;
    margin: 0px;
}
.eir-body {
    position: relative;
}
.eir-hide {
    display: none;
}
.eir-pop-btn {
    margin: 3px;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.eir-options .active {
    position: relative;
}
.eir-options .active:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 30px;
    height: 7px;
    width: 7px;
    border: 1px solid #efefef;
    border-width: 1px 1px 0 0;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.eir-recommend-link {
    width: 100%;
    border: 1px solid #efefef;
    margin-bottom: 5px;
    float: left;
}
.eir-input-link {
    line-height: 9px;
    font-size: 13px;
    height: 21px;
    margin-bottom: 3px;
    border: 1px solid #efefef;
}
@media (min-width: 950px) {
    .container {
        width: 950px;
    }
}
@media (max-width: 950px) {
    .eir-brand {
        width: 90%;
        margin: auto;
        color: white;
        padding: 30px 40px;
        font-family: museo-slab, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .eir-feed-content-content {
        padding-right: 15px;
    }
    .eir-options {
        padding-left: 5px;
    }
    .eir-brand {
        text-align: center;
    }
}
@media (min-width: 1024px) {
    .eir-recommend-link {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .eir-recommend-link {
        width: 100%;
        margin-bottom: 5px;
    }
    .eir-home-right {
        display: none;
    }
}
@media (max-width: 414px) {
    .eir-recommend-link {
        width: 100%;
    }
}
@media (max-width: 375px) {
    .eir-recommend-link {
        width: 100%;
    }
}
.meinfo-container {
    background-color: #FFFFFF;
    margin-top: 10px;
    border: 1px solid #efefef;
    min-height: 550px;
}
.left-menu {
    min-height: 550px;
    width: 80%;
    background: url("../images/b1.png") repeat;
}
.list-wapper .div-li-title {
    font-weight: bold;
}
.list-wapper .div-li {
    font-size: 13px;
    cursor: pointer;
    height: 2.5em;
    line-height: 2.5em;
    padding-left: 43px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.list-wapper .div-li a {
    text-decoration: none;
}
.list-wapper .active {
    border-right: 0px;
    border-left: 2px solid #2aabd2;
    background-color: #FFFFFF;
}
.list-wapper .div-li-padding {
    height: 580px;
    border-right: 1px solid #e4e4e4;
}
.eir-input-group-container {
    margin-top: 40px;
}
.border-zero {
    border: 0px;
}
.eir-input-group {
    padding: 10px;
    border: 1px solid #e4e4e4;
    margin-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
}
.eir-input-group .l {
    float: left;
    width: 18%;
    line-height: 25px;
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
}
.eir-input-group uninput {
    width: 70%;
    float: left;
}
.eir-input-group uninput textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
}
.eir-input-group input[type=text] {
    float: left;
    width: 70%;
    padding: 2px;
    line-height: 25px;
    padding-left: 5px;
}
.eir-input-group .radio-label {
    font-weight: normal;
    padding: 2px;
}
.eir-input-group .radio-item {
    display: inline-block;
    width: 40px;
}
.eir-input-group .op {
    line-height: 25px;
    padding: 0px 20px 0px 20px;
}
@media (max-width: 768px) {
    .eir-input-group {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media (max-width: 414px) {
    .eir-input-group {
        padding-left: 60px;
        padding-right: 60px;
    }
    .eir-input-group .l {
        width: 25%;
    }
}
@media (max-width: 375px) {
    .eir-input-group {
        padding-left: 60px;
        padding-right: 60px;
    }
    .eir-input-group .l {
        width: 25%;
    }
}
@media (max-width: 320px) {
    .eir-input-group {
        padding-left: 60px;
        padding-right: 60px;
    }
    .eir-input-group .l {
        width: 25%;
    }
}
[placeholder] {
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
::-moz-placeholder {
    color: #CCC;
    opacity: 1!important;
    font-size: 13px;
}
:-ms-input-placeholder {
    color: #CCC;
    font-size: 13px;
}
::-webkit-input-placeholder {
    color: #CCC;
    font-size: 13px;
}
